<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :brand, class: "control-label" %>
    <%= text_input f, :brand, class: "form-control" %>
    <%= error_tag f, :brand %>
  </div>

  <div class="form-group">
    <%= label f, :reference, class: "control-label" %>
    <%= text_input f, :reference, class: "form-control" %>
    <%= error_tag f, :reference %>
  </div>

  <div class="form-group">
    <%= label f, :model, class: "control-label" %>
    <%= text_input f, :model, class: "form-control" %>
    <%= error_tag f, :model %>
  </div>

  <div class="form-group">
    <%= label f, :plate, class: "control-label" %>
    <%= text_input f, :plate, class: "form-control" %>
    <%= error_tag f, :plate %>
  </div>

  <div class="form-group">
    <%= label f, :mileage, class: "control-label" %>
    <%= text_input f, :mileage, class: "form-control" %>
    <%= error_tag f, :mileage %>
  </div>

  <div class="form-group">
    <%= label f, :type, class: "control-label" %>
    <%= text_input f, :type, class: "form-control" %>
    <%= error_tag f, :type %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
