<h2>Listing vehicles</h2>

<table class="table">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Reference</th>
      <th>Model</th>
      <th>Plate</th>
      <th>Mileage</th>
      <th>Type</th>
      <th>User</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for vehicle <- @vehicles do %>
    <tr>
      <td><%= vehicle.brand %></td>
      <td><%= vehicle.reference %></td>
      <td><%= vehicle.model %></td>
      <td><%= vehicle.plate %></td>
      <td><%= vehicle.mileage %></td>
      <td><%= vehicle.type %></td>
      <td><%= vehicle.user_id %></td>

      <td class="text-right">
        <%= link "Show", to: vehicle_path(@conn, :show, vehicle), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: vehicle_path(@conn, :edit, vehicle), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: vehicle_path(@conn, :delete, vehicle), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New vehicle", to: vehicle_path(@conn, :new) %>
