<h2>Show vehicle</h2>

<ul>

  <li>
    <strong>Brand:</strong>
    <%= @vehicle.brand %>
  </li>

  <li>
    <strong>Reference:</strong>
    <%= @vehicle.reference %>
  </li>

  <li>
    <strong>Model:</strong>
    <%= @vehicle.model %>
  </li>

  <li>
    <strong>Plate:</strong>
    <%= @vehicle.plate %>
  </li>

  <li>
    <strong>Mileage:</strong>
    <%= @vehicle.mileage %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @vehicle.type %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @vehicle.user_id %>
  </li>

</ul>

<%= link "Edit", to: vehicle_path(@conn, :edit, @vehicle) %>
<%= link "Back", to: vehicle_path(@conn, :index) %>
